<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebDatLich</title>
@*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebDatLich.styles.css" asp-append-version="true" /> *@


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.3.2, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/assets/images/logo2.png" type="image/x-icon">
    <meta name="description" content="">
    <title>Home</title>
    
    <link rel="stylesheet" href="~/assets/web/~/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="~/assets/tether/tether.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="~/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="~/assets/theme/css/style.css">
    <link rel="stylesheet" href="~/assets/mobirise/css/mbr-additional.css" type="text/css">
    <!--Data Tables-->
    <!-- page css -->
    <link href="~/adminassets/vendors/datatables/datatables.bootstrap.min.css" rel="stylesheet" />


    <style>
        .banner {
            font-family: 'Cascadia Mono';
     
        }

        .display-2 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bolder;
        }

        .display-5 {
            font-family: 'Cascadia Mono';
            font-weight: bolder;
            font-size: 20px;
        }

        .mbr-section-title, .mbr-section-subtitle {
            color: white;
        }
    </style>
</head>
<body>
    <!--Header started here-->
    @await Html.PartialAsync("_PartialNavbar.cshtml")
    <!--Header end here-->

    @RenderBody()

    <!--Footer start here-->
    <section once="" class="cid-qxz2d2nfR8" id="footer6-a" data-rv-view="117">
        <div class="container">
            <div class="media-container-row align-center mbr-white">
                <div class="col-12">
                    <p class="mbr-text mb-0 mbr-fonts-style display-7">
                        © Copyright 2017 Free Bootstrap Templates - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </section>


    <script src="~/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="~/assets/popper/popper.min.js"></script>
    <script src="~/assets/tether/tether.min.js"></script>
    <script src="~/assets/smooth-scroll/smooth-scroll.js"></script>
    <script src="~/assets/jarallax/jarallax.min.js"></script>
    <script src="~/assets/social-likes/social-likes.js"></script>
    <script src="~/assets/touch-swipe/jquery.touch-swipe.min.js"></script>
    <script src="~/assets/theme/js/script.js"></script>
    <script src="~/assets/formoid/formoid.min.js"></script>
    <!--Footer end here-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--Script START-->
    <script src="~/adminassets/js/app.min.js"></script>
    <script src="~/adminassets/js/vendors.min.js"></script>
        <!--Dropdown START-->
        <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/assets/dropdown/js/script.min.js"></script>
        <!--Dropdown end-->
        <!-- page js START -->
        <script src="~/adminassets/js/pages/profile.js"></script>
        <!-- page js END -->
     <!--Data Tables-->
    <script src="~/adminassets/vendors/datatables/jquery.datatables.min.js"></script>
    <script src="~/adminassets/vendors/datatables/datatables.bootstrap.min.js"></script>
    <!--Data Tables End-->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


