
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<link href="~/adminassets/css/app.min.css" rel="stylesheet" />




<section class="menu cid-qxyOwCSYXH" once="menu" id="menu2-1" data-rv-view="74">

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">

                <span class="navbar-caption-wrap">
                    <a class="navbar-caption text-white" asp-area="" asp-controller="Home" asp-action="Index">
                        WebDatLich
                    </a>
                </span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link link text-white " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <div class="dropdown dropdown-animated scale-right">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Lịch của tôi
                        </button>
                        <div class="dropdown-menu ">
                            
                             <a asp-area="" asp-controller="Home" asp-action="Calendar">
                                <button class="dropdown-item text-white" type="button">Lịch</button>
                            </a>
                            
                            
                            <a asp-area="" asp-controller="Appointments" asp-action="Index">
                                <button class="dropdown-item text-white" type="button">
                                    Danh sách lịch hẹn
                                </button>
                            </a>
                            <a asp-area="" asp-controller="Home" asp-action="WorkingPlan">
                                <button class="dropdown-item text-white" type="button">
                                    Kế hoạch làm việc
                                </button>
                            </a>
                            
                        </div>
                    </div>

             
                    <li class="nav-item">
                        <a class="nav-link link text-white " asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white " asp-area="" asp-controller="Appointments" asp-action="Create">Thêm lịch hẹn</a>
                    </li>
                </ul>
            </div>

            <li class="dropdown dropdown-animated scale-left">
                <a href="javascript:void(0);" data-toggle="dropdown">
                    <i class="anticon anticon-bell notification-badge" style="color:white"></i>
                </a>
                <div class="dropdown-menu pop-notification">
                    <div class="p-v-15 p-h-25 border-bottom d-flex justify-content-between align-items-center">
                        <p class="text-white font-weight-semibold m-b-0">
                            <i class="anticon anticon-bell"></i>
                            <span class="m-l-10">Notification</span>
                        </p>
                        <a class="btn-sm btn-default btn" asp-area="" asp-controller="Notifications" asp-action="Index">
                            <small>View All</small>
                        </a>
                    </div>
                    <div class="relative">
                        <div class="overflow-y-auto relative scrollable" style="max-height: 300px">
                            <a href="javascript:void(0);" class="dropdown-item d-block p-15 border-bottom">
                                <div class="d-flex">
                                    <div class="avatar avatar-blue avatar-icon">
                                        <i class="anticon anticon-mail"></i>
                                    </div>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-white">You received a new message</p>
                                        <p class="m-b-0"><small>8 min ago</small></p>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item d-block p-15 border-bottom">
                                <div class="d-flex">
                                    <div class="avatar avatar-cyan avatar-icon">
                                        <i class="anticon anticon-user-add"></i>
                                    </div>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-white">New user registered</p>
                                        <p class="m-b-0"><small>7 hours ago</small></p>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item d-block p-15 border-bottom">
                                <div class="d-flex">
                                    <div class="avatar avatar-red avatar-icon">
                                        <i class="anticon anticon-user-add"></i>
                                    </div>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-white">System Alert</p>
                                        <p class="m-b-0"><small>8 hours ago</small></p>
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item d-block p-15 ">
                                <div class="d-flex">
                                    <div class="avatar avatar-gold avatar-icon">
                                        <i class="anticon anticon-user-add"></i>
                                    </div>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-white">You have a new update</p>
                                        <p class="m-b-0"><small>2 days ago</small></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <ul class="nav-right" data-app-modern-menu="true">
                <li class="dropdown dropdown-animated scale-left">
                    <a class="nav-link link text-white " asp-area="" asp-controller="Customers" asp-action="Index">Tài khoản của tôi</a>
                </li>
                <li class="dropdown dropdown-animated scale-left">
                    <a class="nav-link link text-white " asp-area="" asp-controller="Authentication" asp-action="Login">
                        Đăng nhập
                    </a>
                </li>
                <li class="dropdown dropdown-animated scale-left">
                    <a class="nav-link link text-white " asp-area="" asp-controller="Authentication" asp-action="SignUp">
                        Đăng ký
                    </a>
                </li>
            </ul>

        </div>
    </nav>
</section>
<script src="~/adminassets/js/vendors.min.js"></script>
<script src="~/admianssets/js/app.min.js"></script>