@model WebDatLich.Models.Invoice

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>
<div class="container col-md-8">
    <div class="card">
        <div class="container col-md-10">
            <br />
            <h4>Invoice</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Number" class="control-label"></label>
                            <input asp-for="Number" class="form-control" />
                            <span asp-validation-for="Number" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <input asp-for="Status" class="form-control" />
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TotalAmount" class="control-label"></label>
                            <input asp-for="TotalAmount" class="form-control" />
                            <span asp-validation-for="TotalAmount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Issued" class="control-label"></label>
                            <input asp-for="Issued" class="form-control" />
                            <span asp-validation-for="Issued" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
            </div>
            </div>
            </div>


