
@{
    ViewData["Title"] = "Lịch của tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/adminassets/calendar/fullcalendar/core/main.min.css" rel="stylesheet" />
<link href="~/adminassets/calendar/fullcalendar/daygrid/main.min.css" rel="stylesheet" />
<link href="~/adminassets/calendar/fullcalendar/timegrid/main.min.css" rel="stylesheet" />
<link href="~/adminassets/calendar/css/app.min.css" rel="stylesheet" />
<section class="cid-qxz61ptK8m" id="social-buttons3-c" data-rv-view="111">



    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(10, 10, 10);">
    </div>

    <div class="container banner">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                <h2 class="pb-3 mbr-section-title mbr-fonts-style">
                    <strong>
                        @ViewData["Title"]
                    </strong>
                </h2>
      
            </div>
        </div>
    </div>
</section>

<div class="card">
    <div class="card-body shadow">

        <div id="calendar"></div>
     </div>

</div>

<!-- Add New Event MODAL -->
<div class="modal fade" id="event-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-3 px-4">
                <h5 class="modal-title" id="modal-title">Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-4">
                <form class="needs-validation" name="event-form" id="form-event" novalidate>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Event Name</label>
                                <input class="form-control" placeholder="Insert Event Name" type="text"
                                       name="title" id="event-title" required value="">
                                <div class="invalid-feedback">
                                    Please provide a valid event name
                                </div>
                            </div>
                        </div> <!-- end col-->
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Category</label>
                                <select class="form-select" name="category" id="event-category">
                                    <option selected> --Select-- </option>
                                    <option value="bg-danger">Danger</option>
                                    <option value="bg-success">Success</option>
                                    <option value="bg-primary">Primary</option>
                                    <option value="bg-info">Info</option>
                                    <option value="bg-dark">Dark</option>
                                    <option value="bg-warning">Warning</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid event
                                    category
                                </div>
                            </div>
                        </div> <!-- end col-->
                    </div> <!-- end row-->
                    <div class="row mt-2">
                        <div class="col-6">
                            <button type="button" class="btn btn-danger"
                                    id="btn-delete-event">
                                Delete
                            </button>
                        </div> <!-- end col-->
                        <div class="col-6 text-end">
                            <button type="button" class="btn btn-light me-1"
                                    data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-success" id="btn-save-event">Save</button>
                        </div> <!-- end col-->
                    </div> <!-- end row-->
                </form>
            </div>
        </div>
        <!-- end modal-content-->
    </div>
    <!-- end modal dialog-->
</div>
<!-- end modal-->


@section Scripts{
    <script src="~/index.global.js"></script>
    <script src="~/index.global.min.js"></script>
  
    <style>

        .pd-3 {
            margin: 40px 10px;
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 1100px;
            margin: 0 auto;
        }

        .fc-col-header-cell-cushion, .fc-daygrid-day-number, .fc-list-day-text, .fc-list-day-side-text {
            color: black;
            text-decoration: none;
        }

    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                initialDate: '2023-01-12',
                navLinks: true, // can click day/week names to navigate views
                businessHours: true, // display business hours
                editable: true,
                selectable: true,
                events: [
                    {
                        title: 'Business Lunch',
                        start: '2023-01-03T13:00:00',
                        constraint: 'businessHours'
                    },
                    {
                        title: 'Meeting',
                        start: '2023-01-13T11:00:00',
                        constraint: 'availableForMeeting', // defined below
                        color: '#257e4a'
                    },
                    {
                        title: 'Conference',
                        start: '2023-01-18',
                        end: '2023-01-20'
                    },
                    {
                        title: 'Party',
                        start: '2023-01-29T20:00:00'
                    },

                    // areas where "Meeting" must be dropped
                    {
                        groupId: 'availableForMeeting',
                        start: '2023-01-11T10:00:00',
                        end: '2023-01-11T16:00:00',
                        display: 'background'
                    },
                    {
                        groupId: 'availableForMeeting',
                        start: '2023-01-13T10:00:00',
                        end: '2023-01-13T16:00:00',
                        display: 'background'
                    },

                    // red areas where no events can be dropped
                    {
                        start: '2023-01-24',
                        end: '2023-01-28',
                        overlap: false,
                        display: 'background',
                        color: '#ff9f89'
                    },
                    {
                        start: '2023-01-06',
                        end: '2023-01-08',
                        overlap: false,
                        display: 'background',
                        color: '#ff9f89'
                    }
                ]
            });

            calendar.render();
        });

    </script>
    }

