
@{
    ViewData["Title"] = "Tài khoản doanh nghiệp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="cid-qxz61ptK8m" id="social-buttons3-c" data-rv-view="111">



    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(10, 10, 10);">
    </div>

    <div class="container banner">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                <h2 class="pb-3 mbr-section-title mbr-fonts-style">
                    <strong>
                        @ViewData["Title"]
                    </strong>
                </h2>

            </div>
        </div>
    </div>
</section>


    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="tab-account">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Thông tin cơ bản</h4>
                </div>
                <div class="card-body">
                    <div class="media align-items-center">
                        <div class="avatar avatar-image  m-h-10 m-r-15" style="height: 80px; width: 80px">
                            <img src="assets/images/avatars/thumb-3.jpg" alt="">
                        </div>
                        <div class="m-l-20 m-r-20">
                            <h5 class="m-b-5 font-size-18">Thay đổi Avatar</h5>
                            <p class="opacity-07 font-size-13 m-b-0">
                                Recommended Dimensions: <br>
                                120x120 Max fil size: 5MB
                            </p>
                        </div>
                        <div>
                            <button class="btn btn-tone btn-primary">Upload</button>
                        </div>
                    </div>
                    <hr class="m-v-25">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="font-weight-semibold" for="userName">Tên người dùng:</label>
                                <input type="text" class="form-control" id="userName" placeholder="User Name" value="thuphuong2210">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="font-weight-semibold" for="email">Địa chỉ Email:</label>
                                <input type="password" class="form-control" id="email" placeholder="email" value="">
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="font-weight-semibold" for="firstName">Họ và tên lót:</label>
                                <input type="text" class="form-control" id="firstName" placeholder="First Name" value="Đỗ Thị Thu">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="font-weight-semibold" for="lastName">Tên:</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Last Name" value="Phương">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="font-weight-semibold" for="firstName">Tên Công ty</label>
                                <input type="text" class="form-control" id="firstName" placeholder="Công ty TNHH ABC">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="font-weight-semibold" for="vatNumber">Số Vat:</label>
                                <input type="text" class="form-control" id="vatNumber" placeholder="VN123456789">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="font-weight-semibold" for="phoneNumber">Số điện thoại:</label>
                                <input type="text" class="form-control" id="phoneNumber" placeholder="033XXXXXXX">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Address Details</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="font-weight-semibold" for="street">Số nhà, đường:</label>
                                <input type="text" class="form-control" id="street" placeholder="Số 30, đường 218...">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="font-weight-semibold" for="city">Thành phố</label>
                                <select id="city" class="form-control">
                                    <option>Hồ Chí Minh</option>
                                    <option>Hà Nội</option>
                                    <option>Đà Nẵng</option>
                                    <option>An Giang</option>
                                    <option>Bà Rịa - Vũng Tàu</option>
                                    <option>Bắc Giang</option>
                                    <option>Bắc Kạn</option>
                                    <option>Bạc Liêu</option>
                                    <option>Bắc Ninh</option>
                                    <option>Bến Tre</option>
                                    <option>Bình Định</option>
                                    <option>Bình Dương</option>
                                    <option>Bình Phước</option>
                                    <option>Bình Thuận</option>
                                    <option>Cà Mau</option>
                                    <option>Cần Thơ</option>
                                    <option>Cao Bằng</option>
                                    <option>Đắk Lắk</option>
                                    <option>Đắk Nông</option>
                                    <option>Điện Biên</option>
                                    <option>Đồng Nai</option>
                                    <option>Đồng Tháp</option>
                                    <option>Gia Lai</option>
                                    <option>Hà Giang</option>
                                    <option>Hà Nam</option>
                                    <option>Hà Tĩnh</option>
                                    <option>Hải Dương</option>
                                    <option>Hải Phòng</option>
                                    <option>Hậu Giang</option>
                                    <option>Hòa Bình</option>
                                    <option>Hưng Yên</option>
                                    <option>Khánh Hòa</option>
                                    <option>Kiên Giang</option>
                                    <option>Kon Tum</option>
                                    <option>Lai Châu</option>
                                    <option>Lâm Đồng</option>
                                    <option>Lạng Sơn</option>
                                    <option>Lào Cai</option>
                                    <option>Long An</option>
                                    <option>Nam Định</option>
                                    <option>Nghệ An</option>
                                    <option>Ninh Bình</option>
                                    <option>Ninh Thuận</option>
                                    <option>Phú Thọ</option>
                                    <option>Phú Yên</option>
                                    <option>Quảng Bình</option>
                                    <option>Quảng Nam</option>
                                    <option>Quảng Ngãi</option>
                                    <option>Quảng Ninh</option>
                                    <option>Quảng Trị</option>
                                    <option>Sóc Trăng</option>
                                    <option>Sơn La</option>
                                    <option>Tây Ninh</option>
                                    <option>Thái Bình</option>
                                    <option>Thái Nguyên</option>
                                    <option>Thanh Hóa</option>
                                    <option>Thừa Thiên Huế</option>
                                    <option>Tiền Giang</option>
                                    <option>Trà Vinh</option>
                                    <option>Tuyên Quang</option>
                                    <option>Vĩnh Long</option>
                                    <option>Vĩnh Phúc</option>
                                    <option>Yên Bái</option>

                                </select>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Change Password</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label class="font-weight-semibold" for="oldPassword">Old Password:</label>
                                <input type="password" class="form-control" id="oldPassword" placeholder="Old Password">
                            </div>
                            <div class="form-group col-md-3">
                                <label class="font-weight-semibold" for="newPassword">New Password:</label>
                                <input type="password" class="form-control" id="newPassword" placeholder="New Password">
                            </div>
                            <div class="form-group col-md-3">
                                <label class="font-weight-semibold" for="confirmPassword">Confirm Password:</label>
                                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                            </div>
                            <div class="form-group col-md-3">
                                <button class="btn btn-primary m-t-30">Change</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="tab-network">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Network Integration</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item p-h-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-icon" style="color: #4267b1; background: rgba(66, 103, 177, 0.1)">
                                                <i class="anticon anticon-facebook"></i>
                                            </div>
                                            <div class="font-size-15 font-weight-semibold m-l-15">Facebook</div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <label class="m-b-0">https://facebook.com</label>
                                            <div class="switch m-t-5 m-l-10">
                                                <input type="checkbox" id="switch-fb" checked="">
                                                <label for="switch-fb"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item p-h-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-icon" style="color: #fff; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)">
                                                <i class="anticon anticon-instagram"></i>
                                            </div>
                                            <div class="font-size-15 font-weight-semibold m-l-15">Instagram</div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="switch m-t-5 m-l-10">
                                                <input type="checkbox" id="switch-inst">
                                                <label for="switch-inst"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item p-h-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-icon" style="color: #1ca1f2; background: rgba(28, 161, 242, 0.1)">
                                                <i class="anticon anticon-twitter"></i>
                                            </div>
                                            <div class="font-size-15 font-weight-semibold m-l-15">Twitter</div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <label class="m-b-0">https://twitter.com</label>
                                            <div class="switch m-t-5 m-l-10">
                                                <input type="checkbox" id="switch-tw" checked="">
                                                <label for="switch-tw"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item p-h-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-icon" style="color: #d8487e; background: rgba(216, 72, 126, 0.1)">
                                                <i class="anticon anticon-dribbble"></i>
                                            </div>
                                            <div class="font-size-15 font-weight-semibold m-l-15">Dribbble</div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="switch m-t-5 m-l-10">
                                                <input type="checkbox" id="switch-dr">
                                                <label for="switch-dr"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item p-h-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-icon" style="color: #323131; background: rgba(50, 49, 49, 0.1)">
                                                <i class="anticon anticon-github"></i>
                                            </div>
                                            <div class="font-size-15 font-weight-semibold m-l-15">Github</div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <label class="m-b-0">https://github.com</label>
                                            <div class="switch m-t-5 m-l-10">
                                                <input type="checkbox" id="switch-gh" checked="">
                                                <label for="switch-gh"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item p-h-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-icon" style="color: #0174af; background: rgba(1, 116, 175, 0.1)">
                                                <i class="anticon anticon-linkedin"></i>
                                            </div>
                                            <div class="font-size-15 font-weight-semibold m-l-15">Linkedin</div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <label class="m-b-0">https://linkedin.com</label>
                                            <div class="switch m-t-5 m-l-10">
                                                <input type="checkbox" id="switch-ln" checked="">
                                                <label for="switch-ln"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item p-h-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-icon" style="color: #005ef7; background: rgba(0, 94, 247, 0.1)">
                                                <i class="anticon anticon-dropbox"></i>
                                            </div>
                                            <div class="font-size-15 font-weight-semibold m-l-15">Dropbox</div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="switch m-t-5 m-l-10">
                                                <input type="checkbox" id="switch-db">
                                                <label for="switch-db"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab-notification">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Notification Config</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item p-h-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-icon avatar-blue">
                                                <i class="anticon anticon-user"></i>
                                            </div>
                                            <div class="m-l-15">
                                                <h5 class="font-weight-semibold m-b-0">Everyone can look me up</h5>
                                                <p class="m-b-0 font-weight-normal">Allow people found on your public.</p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="switch m-t-5 m-l-10">
                                                <input type="checkbox" id="switch-config-1" checked>
                                                <label for="switch-config-1"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item p-h-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-icon avatar-cyan">
                                                <i class="anticon anticon-mobile"></i>
                                            </div>
                                            <div class="m-l-15">
                                                <h5 class="font-weight-semibold m-b-0">Everyone can contact me</h5>
                                                <p class="m-b-0 font-weight-normal">Allow any peole to contact.</p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="switch m-t-5 m-l-10">
                                                <input type="checkbox" id="switch-config-2" checked>
                                                <label for="switch-config-2"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item p-h-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-icon avatar-gold">
                                                <i class="anticon anticon-environment"></i>
                                            </div>
                                            <div class="m-l-15">
                                                <h5 class="font-weight-semibold m-b-0">Show my location</h5>
                                                <p class="m-b-0 font-weight-normal">Turning on Location lets you explore what's around you.</p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="switch m-t-5 m-l-10">
                                                <input type="checkbox" id="switch-config-3">
                                                <label for="switch-config-3"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item p-h-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-icon avatar-purple">
                                                <i class="anticon anticon-mail"></i>
                                            </div>
                                            <div class="m-l-15">
                                                <h5 class="font-weight-semibold m-b-0">Email Notifications</h5>
                                                <p class="m-b-0 font-weight-normal">Receive daily email notifications.</p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="switch m-t-5 m-l-10">
                                                <input type="checkbox" id="switch-config-4" checked>
                                                <label for="switch-config-4"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item p-h-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-icon avatar-red">
                                                <i class="anticon anticon-question"></i>
                                            </div>
                                            <div class="m-l-15">
                                                <h5 class="font-weight-semibold m-b-0">Unknow Source</h5>
                                                <p class="m-b-0 font-weight-normal">Allow all downloads from unknow source.</p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="switch m-t-5 m-l-10">
                                                <input type="checkbox" id="switch-config-5">
                                                <label for="switch-config-5"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item p-h-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-icon avatar-green">
                                                <i class="anticon anticon-swap"></i>
                                            </div>
                                            <div class="m-l-15">
                                                <h5 class="font-weight-semibold m-b-0">Data Synchronization</h5>
                                                <p class="m-b-0 font-weight-normal">Allow data synchronize with cloud server.</p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="switch m-t-5 m-l-10">
                                                <input type="checkbox" id="switch-config-6" checked>
                                                <label for="switch-config-6"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item p-h-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar avatar-icon avatar-orange">
                                                <i class="anticon anticon-usergroup-add"></i>
                                            </div>
                                            <div class="m-l-15">
                                                <h5 class="font-weight-semibold m-b-0">Groups Invitation</h5>
                                                <p class="m-b-0 font-weight-normal">Allow any groups invitation</p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="switch m-t-5 m-l-10">
                                                <input type="checkbox" id="switch-config-7" checked>
                                                <label for="switch-config-7"></label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
